################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RxWinFormsSample/v16/TestStore/0
/.vs/RxWinFormsSample/v16/Server/sqlite3
/RxWinFormsSample/obj/Debug
